<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ManagerSubjectServlet</servlet-name>
        <servlet-class>controller.ManagerSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEmailServlet</servlet-name>
        <servlet-class>controller.CheckEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerUserServlet</servlet-name>
        <servlet-class>controller.ManagerUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerQuestionServlet</servlet-name>
        <servlet-class>controller.ManagerQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerQuizServlet</servlet-name>
        <servlet-class>controller.ManagerQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerBannerServlet</servlet-name>
        <servlet-class>controller.ManagerBannerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFacebookServlet</servlet-name>
        <servlet-class>controller.LoginFacebookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEmailUserServlet</servlet-name>
        <servlet-class>controller.CheckEmailUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerMenuServlet</servlet-name>
        <servlet-class>controller.ManagerMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckQServlet</servlet-name>
        <servlet-class>controller.CheckQServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerReslutServlet</servlet-name>
        <servlet-class>controller.ManagerReslutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckQuestionServlet</servlet-name>
        <servlet-class>controller.CheckQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUserAnswerServlet</servlet-name>
        <servlet-class>controller.CheckUserAnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCorrectAnswerServlet</servlet-name>
        <servlet-class>controller.LoadCorrectAnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeAnswerServlet</servlet-name>
        <servlet-class>controller.TakeAnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerCountDownServlet</servlet-name>
        <servlet-class>controller.ManagerCountDownServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagerSubjectServlet</servlet-name>
        <url-pattern>/ManagerSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEmailServlet</servlet-name>
        <url-pattern>/CheckEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerUserServlet</servlet-name>
        <url-pattern>/ManagerUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerQuestionServlet</servlet-name>
        <url-pattern>/ManagerQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerQuizServlet</servlet-name>
        <url-pattern>/ManagerQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerBannerServlet</servlet-name>
        <url-pattern>/ManagerBannerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFacebookServlet</servlet-name>
        <url-pattern>/LoginFacebookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEmailUserServlet</servlet-name>
        <url-pattern>/CheckEmailUserServlet</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>
            controller.SessionCounter
        </listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>ManagerMenuServlet</servlet-name>
        <url-pattern>/ManagerMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckQServlet</servlet-name>
        <url-pattern>/CheckQServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerReslutServlet</servlet-name>
        <url-pattern>/ManagerReslutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckQuestionServlet</servlet-name>
        <url-pattern>/CheckQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUserAnswerServlet</servlet-name>
        <url-pattern>/CheckUserAnswerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCorrectAnswerServlet</servlet-name>
        <url-pattern>/LoadCorrectAnswerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeAnswerServlet</servlet-name>
        <url-pattern>/TakeAnswerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerCountDownServlet</servlet-name>
        <url-pattern>/ManagerCountDownServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
